.container {
    background-color: #282828;
}

.header {
    background-color: #282828;
    height: 42px;
    width: 100%;
}

.menu {
    display: block;
    background-color: #78dfd6;
    float: left;
    padding: 30px 2%;
    width: 11%;
    height: 840px;
}

.menu_item {
    padding: 10px 0;
}

.menu_item a {
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    float: right;
    height: 900px;
    width: 85%;
}

#map {
    z-index: 1;
}

#info-page {
    display: none;
    background-color: white;
    opacity: 1;
    border-radius: 1px;
    position: absolute;
    top: 10%;
    left: 40%;
    width: 30%;
    min-width: 500px;
    height: 85%;
    z-index: 2;
    color: black;
    font-size: 18px;
}

.info-page_head {
    weight: 100%;
    background-color: #a5e4e0;
    padding: 10px;
    color: white;
    font-size: 24px;
}
.info-page_close {
    position: absolute;
    top: 7px;
    right: 11px;
    width: 28px;
    height: 28px;
    opacity: 0.5;
}
.info-page_close:hover {opacity: 1;  }
.info-page_close:before, .info-page_close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: white;
}
.info-page_close:before {transform: rotate(45deg);}
.info-page_close:after {transform: rotate(-45deg);}



.info-page_menu {
    background-color: #4d4d4d;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 125px;
}

.info-page_menu li {
    display: inline-block; /* Отображать как строчный элемент */
    width: 24%;
    height: 100%;
}

.menu_selected {
    background-color: #424242;
    box-shadow: inset 0 0 20px rgba(0,0,0,0.5);
}

.info-page_button {
    background-color: rgba(255, 255, 255, 0);
    border: 0px;
    height: 100%;
    width: 100%;

    text-align: center;
    color: white;
    font-size: 18px;
    font-family: Arial;
    vertical-align: middle;
    outline: none;
}
.info-page_button:active {
    background-color: #424242;
    box-shadow: inset 0 0 40px rgba(0,0,0,0.5);
}


#info-page_info-item {
    width: 25%;
}
#info-page_jobs-item {
    width: 25%;
}
#info-page_homes-item {
}
#info-page_visas-item {
    float: right;
}

#info-page_content {
    left: 0;
    padding: 0px 0px;
}
#info-page_info-content {
    padding: 20px 40px;
}
#info-page_jobs-content {  }
#info-page_homes-content {  }
#info-page_visas-content {  }


.info-page_basement {
    background-color: #d3f2f5;
    height: 15px;
    width: 100%;

    position: absolute;
    left: 0;
    bottom: 0;
}


#search{
    width: 90%;
    height: 35px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    color: #fff;
    padding-left: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#search_result {
    display: none;
    width: 85%;
    padding: 10px 10px;
    background-color: #434A5B;
    border-radius: 5px;
}

.search_link {
    color: white;
}